.env
*.pem
*.key
.aws/
secrets/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
.terraform.lock.hcl
tfplan
node_modules/
npm-debug.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
